.slider {
  align-content: flex-start;
  width: 100%;
  height: 40%;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.time {
  padding: 0.5em;
  text-align: center;
  user-select: none;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}
