.slider {
  width: 100%;
  height: 40%;
  align-content: flex-start;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.time {
  user-select: none;
  text-align: center;
  padding: 0.5em;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}
