.container {
  height: 100%;
  width: 100%;
  padding-right: 0.5rem;
}

.box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: calc(100% / 3);
}

.volume {
  display: inline-block;
  width: 5.5em;
}
