@use '../themes/default.scss';
@use '../themes/dark.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  position: absolute;
  display: block;
  width: 100%;
  min-width: 640px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  color: var(--content-text-color);
  background: var(--content-bg);
}

@media only screen and (max-width: 640px) {
  body,
  html {
    overflow-x: auto;
  }
}

#root {
  height: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
}

a {
  text-decoration: none;
}
