/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~rsuite/lib/styles/themes/dark/index.less';
@import '~react-h5-audio-player/lib/styles.less';
@import 'custom-theme.less';

html,
body {
  height: 100%;
}

body {
  border: 1px solid #48545c;
  overflow-y: hidden;
}

#root {
  min-height: 100%;
}

h1 {
  font-size: 30px !important;
}

.rs-panel-heading {
  padding-bottom: 5px !important;
}

.rhap_container {
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.login__root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__panel {
  margin-top: 200px;
}
