/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~rsuite/lib/styles/themes/dark/index.less';
@import 'custom-theme.less';

html,
body {
  height: 100%;
}

body {
  overflow-y: hidden;
}

#root {
  min-height: 100%;
}

.rhap_container {
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.rs-modal-wrapper {
  display: flex;
  overflow-y: hidden !important;
  backdrop-filter: blur(3px);
}

.rs-modal-backdrop.fade {
  transition: none !important;
}

.rs-modal-backdrop.out {
  transition: none !important;
}

.rs-modal {
  transition: none !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.rs-table-cell-content > div::selection,
.rs-table-cell-content > div > div::selection,
.rs-table-cell-content > div > span > img::selection,
.rs-table-cell-content > div > div > div > div > div > span::selection,
.rs-table-cell-content > div > div > div > div > span > img::selection,
.rs-table-cell-content > div > div > div > div > img::selection {
  background-color: transparent;
}

.rs-panel-body,
.rs-panel-heading {
  padding: 0px;
  user-select: none;
}

.rs-popover.in {
  opacity: 0.97 !important;
}

/* Fixes the picker menu position */
.rs-picker-menu {
  left: inherit !important;
  top: inherit !important;
}

.rs-tooltip {
  user-select: none !important;
  pointer-events: none !important;
}

.rs-table-scrollbar-vertical {
  transform: none !important;
  width: 10px !important;
}

.rs-table-scrollbar-horizontal {
  transform: none !important;
}

.rs-table-scrollbar-handle {
  border-radius: 0px;
}

.rs-table-scrollbar-vertical .rs-table-scrollbar-handle {
  width: 10px;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(50, 50, 50, 0.6);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(220, 220, 220, 0.3) !important;
  border-radius: 0px;
}

@media (-webkit-device-pixel-ratio: 1.5),
  (device-pixel-ratio: 1.5),
  (-webkit-device-pixel-ratio: 2),
  (device-pixel-ratio: 2),
  (-webkit-device-pixel-ratio: 3),
  (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#window-title-wrapper {
  width: calc(80%);
  white-space: nowrap;
  height: 100%;
  padding: 2px;
}

#window-title {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

#window-title-wrapper-mac {
  white-space: nowrap;
  height: 100%;
  padding: 2px;
  text-align: center;
}

#window-title-mac {
  max-width: 60%;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}

.lazy-load-image-background.opacity {
  opacity: 0;
}

.lazy-load-image-background.opacity.lazy-load-image-loaded {
  opacity: 1;
  transition: opacity 0.1s;
}

h6 {
  font-weight: 400;
}

@font-face {
  font-family: 'AnekTamil';
  src: url('../fonts/AnekTamil-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Archivo';
  src: url('../fonts/Archivo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular STD';
  src: url('../fonts/CircularSTD-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Didact Gothic';
  src: url('../fonts/DidactGothic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Encode Sans';
  src: url('../fonts/EncodeSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Epilogue';
  src: url('../fonts/Epilogue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Hahmlet';
  src: url('../fonts/Hahmlet-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spectral';
  src: url('../fonts/Spectral-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
}
