/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~rsuite/lib/styles/themes/dark/index.less';
@import 'custom-theme.less';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,
body {
  height: 100%;
}

body {
  border: 1px solid #48545c;
  overflow-y: hidden;
}

#root {
  min-height: 100%;
}

h1 {
  font-size: 30px !important;
}

.rhap_container {
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.login__root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__panel {
  margin-top: 200px;
}

.active {
  color: #169de0 !important;
}

.rs-table-cell-content > div::selection {
  background-color: transparent;
}

.rs-panel-body,
.rs-panel-heading {
  padding: 0px;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .rs-panel-heading {
  padding-bottom: 5px !important;
}
 */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #262a31;
}

*::-webkit-scrollbar-thumb {
  background-color: #6f747d;
  border-radius: 20px;
  border: 3px solid #262a31;
}

@media (-webkit-device-pixel-ratio: 1.5),
  (device-pixel-ratio: 1.5),
  (-webkit-device-pixel-ratio: 2),
  (device-pixel-ratio: 2),
  (-webkit-device-pixel-ratio: 3),
  (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}
