.container__root {
  height: 100vh;
}

.container__root_expanded {
  padding-left: 193px;
}

.container__root_shrunk {
  padding-left: 56px;
}

.container__footer {
  position: fixed;
  height: 70px;
  background-color: #0f131a;
  border-top: 3px;
  border-style: solid none none none;
  border-color: #3c3f43;
  bottom: 0;
  width: 100%;
  /* z-index: 1;  */
}

.container__page {
  height: 100%;
}
