.playlist__comment {
  font-size: small;
}

.container__playlist {
  display: grid;
  grid-template-columns: 250px 60% 250px;
  height: 200px;
}

.playlist__column_left {
  display: flex;
  align-items: center;
  justify-content: center;
}
