:root {
  --primary-color: #3a81ed;
  --secondary-color: #c7648d;

  --content-bg: #181819;
  --content-text-color: #c1c2bb;

  --sidebar-bg: #000000;
  --sidebar-btn-color: #ffffff;
  --sidebar-btn-color-hover: #ffffff;
  --sidebar-handle-bg: #4d4d4d;

  --playerbar-bg: #181818;
  --playerbar-text-primary-color: #e7e7e7;
  --playerbar-text-secondary-color: #a8a8a8;
  --playerbar-btn-color: #c5c5c5;
  --playerbar-btn-color-hover: #ffffff;
  --playerbar-border-top: 1px rgba(50, 50, 50, 0.7) solid;
  --playerbar-slider-track-bg: #3c3f43;
  --playerbar-slider-track-progress-bg: #888e94;

  --tooltip-bg: #ffffff;
  --tooltip-text-color: #000000;

  --scrollbar-track-bg: #181818;
  --scrollbar-thumb-bg: #5a5a5a;
}
