:root {
  --content-bg: #181819;

  --sidebar-bg: #000000;
  --sidebar-btn-color: #ffffff;
  --sidebar-btn-color-hover: #ffffff;
  --sidebar-handle-bg: #4d4d4d;

  --playerbar-bg: #181818;
  --playerbar-btn-color: #000000;
  --playerbar-btn-color-hover: #000000;
  --playerbar-border-top: 1px rgba(50, 50, 50, 0.7) solid;

  --scrollbar-x-track-bg: #181818;
  --scrollbar-x-thumb-bg: #5a5a5a;
}
