[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudio = {path = "./PyAudio-0.2.11-cp310-cp310-win_amd64.whl"}
flask = "*"
flask-cors = "*"
flask-socketio = "*"

[dev-packages]

[requires]
python_version = "3.10"
