.container {
  display: flex;
  height: 100%;
}

.window {
  position: absolute;
  z-index: 1000;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}
