.group {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
  display: flex;
  width: 130px;
  height: 35px;
  -webkit-app-region: no-drag;
}

.button {
  flex-grow: 1;
  height: 100%;
  padding: 8px;
  text-align: center;
  user-select: none;
  -webkit-app-region: no-drag;
}

.button:hover {
  background: rgba(125, 125, 125, 0.3);
}
