.container {
  display: grid;
  grid-template-areas:
    'main'
    'playerbar';
  grid-template-rows: auto 100px;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  height: 100%;
}

.main {
  display: grid;
  grid-area: main;
  grid-template-areas:
    'sidebar content'
    'sidebar content'
    'sidebar content';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 0.2fr auto;
  gap: 0px 0px;
}

.playerbar {
  grid-area: playerbar;
  background: var(--playerbar-bg);
  border-top: var(--playerbar-border-top);
}

.sidebar {
  position: relative;
  display: flex;
  grid-area: sidebar;
  background: var(--sidebar-bg);
}

.content {
  grid-area: content;
  background: var(--content-bg);
}

.handle {
  position: absolute;
  right: 0;
  width: 3px;
  height: 100%;
  border-right: 1px var(--sidebar-handle-bg) solid;
  opacity: 0;

  &:hover {
    cursor: col-resize;
    opacity: 1;
  }
}

.resizing {
  opacity: 1;
}
